h1 {
  color: #FF7F50;
  text-align: justify;
}

p.aku{color: #6495ED
}
li.aku{color: #deb887
}
body {
  background-image: url('book.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
