h1 {
  padding: 35px;
  text-align: center;
  font: 40px Times New Roman,serif;
  color: #000000;
  background-color:#c2c2ff;

}
div.aku {
	padding: 25px;
  text-align: center;
  font: 25px Times New Roman,serif;
  color: #000000;
  background-color:#ffe6e6
}
div.beta {
	padding: 10px;
  text-align: justify;
  font: 27.5px Times New Roman,serif;
  color: #000000;
 background-color:#ffe6e6
}
div.cerita {
	padding: 10px;
  text-align: justify;
  font: 25px Times New Roman,serif;
  color: #000000;
background-color:#ffe6e6
}
body{
	background-color: #ffe6e6;
	padding: 10px
}
img{
	padding: 15px;
 background-color: #ffe6e6;
  alignment-baseline: central;
}